:root {
    --primary-color: #0A1128;
    --white-color: #ffffff;
    --secondary-color: #1f1f23;
    --gap: 3rem;
    --menu-color: #0a0a0b;
    --light-gray-color: silver;
    --background-color: #121214;
}